#itemlist-panel {
  background-color: rgb(202, 199, 199);
}
.black-panel {
  height: 0.5rem;
}
.condition-panel {
  position: relative;
  background-color: white;
  padding: 0.5rem;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}
.list-panel {
  margin: 0.5rem;
  background-color: white;
  padding: 2rem;
}
.list-panel .list-button-p {
  margin-bottom: 1rem;
}
/**elementui 源生***/
.popdialog-container /deep/ .el-dialog__header {
  background-color: #e0eff5;
  padding:0.8rem 1rem 0.8rem
}
.form-container{
    background-color: white;
    padding: 0.5rem;
}
.button-container{
    background-color: white;
}
/**elementui 源生***/
#itemManager-container /deep/ .el-form-item{
    margin-bottom:0.7rem;
}